{% extends "AppBundle:Layouts:base.html.twig" %}

{% block title %}{{ 'projects.listing'|trans }}{% endblock %}

{% block body %}
<h1>{{ block('title') }}</h1>
<table class="table table-striped">
    {% if projects %}
        <thead>
            <tr>
                <th>{{ 'projects.code'|trans }}</th>
                <th>{{ 'projects.title'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        {% for project in projects %}
            <tr>
                <td>{{ project.code }}</td>
                <td>{{ project.title }}</td>
                <td>
                    <a href="{{ path('projects_view', {'id' : project.id}) }}">{{ 'common.view'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                        |
                        <a href="{{ path('projects_edit', {'id' : project.id}) }}">{{ 'common.edit'|trans }}</a>

                    {% endif %}
                    |
                    <a href="{{ path('issues_create', {'id' : project.id}) }}">{{ 'issues.create_new'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td>{{ 'projects.not_available'|trans }}</td></tr>
    {% endif %}
</table>

{% endblock %}
