{% extends "AppBundle:Layouts:base.html.twig" %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}
<h1>{{ block('title') }}</h1>
<h3>{{ project.code }}</h3>
<p>{{ project.summary }}</p>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
        <a href="{{ path('projects_edit', {'id' : project.id}) }}">{{ 'projects.edit_existing'|trans }}</a>
    {% endif %}
    <hr>
    <div class="col-md-6">
        <h3>{{ 'activities.project_list'|trans }}</h3>
        {{ show_activities('project', project) }}
    </div>
{% endblock %}
