{% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
<div class="form-group">
    <button class="btn btn-primary">{{ 'common.submit'|trans }}</button>
</div>
{{ form_end(form) }}
