{% extends "AppBundle:Layouts:base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'comments.edit'|trans }}{% endblock %}

{% block body %}
    <h2>{{ block('title') }}</h2>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-primary">{{ 'common.submit'|trans }}</button>
    </div>
    {{ form_end(form) }}


{% endblock %}
