{% if comments %}
    <dl class="list-unstyled">
        {% for comment in comments %}
            <dt> [{{ comment.getUser().username }}]:</dt>
            <dd><i>{{ comment.created|date('Y-m-d H:i') }}</i>
                <br>
                {{  comment.body }}

                <hr>
            </dd>
        {% endfor %}
    </dl>
{% endif %}