{% extends "AppBundle:Layouts:base.html.twig" %}

{% block title %}{{ issue.code }}{% endblock %}

{% block body %}
    <h1>{{ 'issues.view_page'|trans }} {{ issue.summary }}</h1>
    <p>{{ issue.description }}</p>
    <a href="{{ path('issues_edit', {'id' : issue.id}) }}">[{{ 'common.edit'|trans }}]</a>

    {% if  child_issues %}
        <h3>{{ 'issues.children_list'|trans }}</h3>
        {% for child in child_issues %}
            <a href="{{ path('issues_view', {'id' : child.id}) }}">{{ child.code }}</a><br>
        {% endfor %}
    {% endif %}
    {% if  parent_issue %}
        <h3>{{ 'issues.parent_list'|trans }}</h3>
        <a href="{{ path('issues_view', {'id' : parent_issue.id}) }}">{{ parent_issue.code }}</a>
        <br>
    {% endif %}
    <h3>{{ 'issues.collaborators'|trans }}</h3>
    <ul>
        {% for collabolator in issue.collaborators %}
            <li>{{ collabolator.username }}</li>
        {% endfor %}
    </ul>



{% endblock %}
