<table class="table table-striped">
        <tr>
            <td>
                <a href="{{ url('users_view', {'id' : activity.getUser().getId()}) }}">{{ activity.getUser().getUsername() }}</a>
                {{ activity.status }}
                {% if is_granted('view', activity.getIssue().getProject()) %}
                    <a href="{{ url('issues_view', {'id' : activity.getIssue().getId()}) }}">{{ activity.getIssue().getCode() }}</a>
                {% else %}
                    {{  activity.getIssue().getSummary() }}
                {% endif %}
            </td>
        </tr>
</table>