{% extends "AppBundle:Layouts:base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {%  if parent_issue.id  is defined %}
        {{ 'issues.create_new_subtask'|trans }}
    {% else %}
        {{ 'issues.create_new'|trans }}
    {% endif %}
{% endblock %}


{% block body %}
    <h2>{{ block('title') }}</h2>
    {{ form_start(form) }}
    <div class="form-group">
        <label class="col-sm-2 control-label" ></label>
        <div class="col-sm-10">
            {{ 'issues.project'|trans }} {{ project.code }}

        </div>
    </div>
    {% if parent_issue.id  is defined   %}
        <div class="form-group">
            <label class="col-sm-2 control-label" ></label>
            <div class="col-sm-10">
                {{ 'issues.parent_issue'|trans }} {{ parent_issue.code }}

            </div>
        </div>
    {% endif %}

    {{ form_widget(form) }}
    <div class="form-group">
        <label class="col-sm-2 control-label" ></label>
        <div class="col-sm-10">
            <button class="btn btn-primary">{{ 'common.submit'|trans }}</button>
            <a href="{{ path('projects_index') }}">{{ 'projects.list'|trans }}</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
