{% extends "AppBundle:Layouts:base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ 'issues.edit_existing'|trans }}{% endblock %}

{% block body %}
    <h2>{{ block('title') }}</h2>
    {{ form_start(form) }}
    <div class="form-group">
        <label class="col-sm-2 control-label" ></label>
        <div class="col-sm-10">
            {{ 'issues.project'|trans }}
            {{ project.code }}

        </div>
    </div>

    {{ form_widget(form) }}
    <div class="form-group">
        <label class="col-sm-2 control-label" ></label>
        <div class="col-sm-10">
            <button class="btn btn-primary">{{ 'common.submit'|trans }}</button>
            <a href="{{ path('issues_index') }}">{{ 'issues.return'|trans }}</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
