{% extends "AppBundle:Layouts:base.html.twig" %}

{% block title %}{{ 'issues.listing'|trans }}{% endblock %}

{% block body %}
<h1>{{ block('title') }}</h1>
<table class="table table-striped">
    {% if issues %}
        <thead>
            <tr>
                <th>{{ 'issues.created'|trans }}</th>
                <th>{{ 'issues.code'|trans }}</th>
                <th>{{ 'issues.title'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        {% for issue in issues %}
            {{   include("AppBundle:Partials:issue.html.twig", {'issue' : issue}) }}
        {% endfor %}
    {% else %}
        <tr><td>{{ 'issues.not_available'|trans }}</td></tr>
    {% endif %}
</table>

{% endblock %}
