{% extends "AppBundle:Layouts:base.html.twig" %}

{% block title %}{{ issue.code }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>{{ 'issues.view_page'|trans }} {{ issue.summary }}</h1>
        <p>{{ issue.description }}</p>
        <a href="{{ path('issues_edit', {'id' : issue.id}) }}">[{{ 'common.edit'|trans }}]</a>
        <hr>
    </div>

    <div class="col-md-4">
        <h3>{{ 'issues.collaborators'|trans }}</h3>
        <ul>
            {% for collabolator in issue.collaborators %}
                <li>{{ collabolator.username }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <h3>{{ 'issues.comments'|trans }}</h3>

        {% if issue.comments %}
            <dl class="list-unstyled">
                {% for comment in issue.comments %}
                    <dt> [{{ comment.getUser().username }}]:</dt>
                    <dd><i>{{ comment.created|date('Y-m-d H:i', app.user.timezone) }}</i>
                        <br>
                        {{ comment.body }}
                        <br>
                        {% if is_granted("MODIFY", comment) %}
                            <a href="{{ path('comments_edit', { 'id': comment.id }) }}">[{{ 'common.edit'|trans }}]</a>
                            <a href="{{ path('comments_delete', { 'id': comment.id }) }}">[{{ 'common.delete'|trans }}
                                ]</a>
                        {% endif %}
                        <hr>
                    </dd>
                {% endfor %}
            </dl>
        {% endif %}

        {{ render(controller(
        'AppBundle:Comment:create',
        { 'id': issue.id }
        )) }}
    </div>
    <div class="col-md-4">
        {% if  child_issues %}
            <h3>{{ 'issues.children_list'|trans }}</h3>
            {% for child in child_issues %}
                <a href="{{ path('issues_view', {'id' : child.id}) }}">{{ child.code }}</a><br>
            {% endfor %}
        {% endif %}
        {% if  parent_issue %}
            <h3>{{ 'issues.parent_list'|trans }}</h3>
            <a href="{{ path('issues_view', {'id' : parent_issue.id}) }}">{{ parent_issue.code }}</a>
            <br>
        {% endif %}
    </div>

<div class="col-md-12">
    <h3>{{ 'activities.issue_list'|trans }}</h3>
    {{ show_activities('issue', issue) }}
</div>

{% endblock %}
