{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'id' : 'auth-form'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />
        <a class="pull-right" href="{{ path('fos_user_security_login') }}">Login?</a>
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
