{% extends "AppBundle:Layouts:base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'users.change_password'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'users.change_password'|trans }}</h1>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <label class="col-sm-2 control-label required"></label>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary" value="{{ 'users.change_password'|trans }}" />
            <a href="{{ path('users_profile', {'id' : app.user.id}) }}">[{{ 'users.profile'|trans }}]</a>
        </div>

    </div>
    {{ form_end(form) }}

{% endblock body %}
