<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="{{ path('admin_index') }}">Symfony Academ Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li class=""><a href="{{ path('projects_index') }}">{{ 'menu.projects'|trans }}</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                    <li class=""><a href="{{ path('projects_create') }}">{{ 'menu.projects_create'|trans }}</a></li>
                {% endif %}
                <li class=""><a href="{{ path('issues_index') }}">{{ 'menu.issues'|trans }}</a></li>
                <li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('users_index') }}">{{ 'menu.users'|trans }}</a>
                    {% endif %}
                </li>

            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class=""><a href="{{ path('users_view', {'id' : app.user.id}) }}">Hi, {{ app.user.username }}!</a></li>
                <li class="">
                    <a href="{{ path('users_profile', {'id' : app.user.id}) }}">
                        {{ 'users.local_time'|trans }}
                        {{ 'now'|date('H:i', app.user.timezone) }} [{{ app.user.timezone }}]
                    </a>
                </li>
                <li class=""><a href="{{ path('logout') }}">{{ 'menu.logout'|trans }}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>