<tr>
    <td>{{ issue.created|date("Y-m-d H:i", app.user.timezone) }}</td>
    <td>{{ issue.code }}</td>
    <td>{{ issue.summary }}</td>
    <td>
        {% if is_granted('view', issue.getProject()) %}
            <a href="{{ path('issues_edit', {'id' : issue.id}) }}">
                {{ 'common.edit'|trans  }}
            </a>
            |
            <a href="{{ path('issues_view', {'id' : issue.id}) }}">
                {{ 'common.view'|trans  }}
            </a>
            {% if issue.type == 'story' %}
                |
                <a href="{{ path('issues_create', {'id' : issue.projectId, 'parentIssue' : issue.id}) }}">
                    {{ 'issues.create_subtask'|trans  }}
                </a>
            {% endif %}
        {% endif %}
    </td>
</tr>