#auth-form{
    margin: 15px auto;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    max-width: 400px;
}
.notification{
    padding: 10px;
}
.hide-reporters-select{
    display: none;
}