{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<form action="{{ path("fos_user_security_check") }}" method="post" id="auth-form">
    {% if error %}
        <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>


    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />
    </div>

    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label  for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <div>
        <input type="submit" id="_submit" name="_submit" class="btn btn-default" value="{{ 'security.login.submit'|trans }}" />
        <a class="pull-right" href="{{ path('fos_user_registration_register') }}">Sign up?</a>
    </div>

</form>
{% endblock fos_user_content %}
