{% extends "AppBundle:Layouts:base.html.twig" %}
{% block title %}{{ 'users.list'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'users.list'|trans }}</h1>
    <table class="table table-striped">
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('users_profile', {'id' : user.id}) }}">{{ 'common.edit'|trans }}</a>
                    |
                    <a href="{{ path('users_view', {'id' : user.id}) }}">{{ 'common.view'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}