{% extends "AppBundle:Layouts:base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ 'users.profile'|trans }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}


    <div class="form-group">
        <label class="col-sm-2 control-label required" for="">
        </label>
        <div class="col-sm-10">
            <button class="btn btn-primary">{{ 'common.submit'|trans }}</button>
            {% if app.user.id == user.id %}
                <a href="{{ path('fos_user_change_password') }}">[{{ 'users.change_password'|trans }}]</a>
            {% endif %}

        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
