{% extends "AppBundle:Layouts:base.html.twig" %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
<div class="col-md-12">
    <h1>{{ user.username }}</h1>
    {% if is_granted("edit", user) %}
        <p><a href="{{ path('users_profile', {'id' : user.id}) }}">[{{ 'common.edit'|trans }}]</a></p>
    {% endif %}
    {% if user.fullname %}
        <p>{{ 'users.fullname'|trans }}: <strong>{{ user.fullname }}</strong></p>
    {% endif %}
    <p>{{ 'users.email'|trans }}: <strong>{{ user.email }}</strong></p>
    <p>{{ 'users.timezone'|trans }}: <strong>{{ user.timezone }}</strong></p>
    <p>{{ 'users.role'|trans }}: <strong>[{{ user.getRole() }}]</strong></p>
    <p>{{ 'users.last_login'|trans }}: <strong>{{ user.getLastLogin()|date('Y-m-d H:i', app.user.timezone) }}</strong></p>
    <hr>
</div>

    <div class="col-md-6">
        <h3>{{ 'issues.opened_reopened_assignee'|trans }}</h3>
        <table class="table table-striped">
            {% for issue in issues %}
                {{ include("AppBundle:Partials:issue.html.twig", {'issue' : issue}) }}
            {% endfor %}

        </table>
    </div>
    <div class="col-md-6">
        <h3>{{ 'activities.user_list'|trans }}</h3>
        {{ show_activities('user', user) }}
    </div>
{% endblock %}
