{% extends 'AppBundle:Layouts:base.html.twig' %}

{% block body %}
    <div class="col-md-6">
        <h3>{{ 'issues.opened_reopened'|trans }}</h3>
        <table class="table table-striped">
            {% for issue in issues %}
                {{   include("AppBundle:Partials:issue.html.twig", {'issue' : issue}) }}
            {% endfor %}

        </table>
    </div>
    <div class="col-md-6">
        <h3>{{ 'activities.user__projects_list'|trans }}</h3>
        {{ show_activities('user_projects', app.user.getProjects().getValues()) }}
    </div>
{% endblock %}
