{% if activities %}
    <table class="table table-striped">
        {% for activity in activities %}
            <tr>
                <td>
                    {{ activity.createdAt|date('Y-m-d H:i', app.user.timezone) }}

                </td>
                <td>
                    <a href="{{ path('users_view', {'id' : activity.getUser().getId()}) }}">{{ activity.getUser().getUsername() }}</a>
                    {{ statuses[activity.status] }}
                    {% if is_granted('view', activity.getIssue().getProject()) %}
                        <a href="{{ path('issues_view', {'id' : activity.issueId}) }}">{{ activity.getIssue().getCode() }}</a>
                    {% else %}
                        {{ activity.getIssue().getCode() }}
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endif %}
